// Import all fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

// Import utils
@import 'utils/breakpoints';
@import 'utils/colors';
@import 'utils/animations';

// Import all components
@import 'components/header';
@import 'components/home-section';
@import 'components/portfolio-section';

// Import all files for mobile design
@media (max-width: $breakpoint-mobile) {
    @import 'mobile/components/header';
    @import 'mobile/components/home-section';
    @import 'mobile/components/portfolio-section';
}

// Import all files for tablet design
@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    @import 'tablet/components/header';
    @import 'tablet/components/home-section';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
    user-select: none;

    font-family: 'Quicksand', sans-serif;
    
    a {
        color: inherit;
        text-decoration: none;
    }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}