header.header {
    .menu-icon{
        z-index: 15;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
    
        transition: transform 0.5s;
    }
    .menu-icon span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); 
    
        display: block;
        width: 22px;
        height: 2px;
    
        background-color: #FFF;
    
        transition: background 0.5s;
    }
    .menu-icon span::before, .menu-icon span::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-6px);
    
        display: block;
        width: 22px;
        height: 2px;
    
        background-color: #FFF;
    
        transition: transform 0.5s;
    }
    .menu-icon span::after {
        transform: translateY(6px); 
    }
    
    .menu-icon.is-opened span {
        background: transparent;
    }
    .menu-icon.is-opened span::before {
        transform: translateY(0) rotate(45deg);
    }
    .menu-icon.is-opened span::after {
        transform: translateY(0) rotate(-45deg);
    }

    nav.socials-bar {
        display: none;
        opacity: 0;
    }
    nav.navigation-bar {
        display: none;
        opacity: 0;

        position: relative;

        display: flex;
        justify-content: center;

        height: 160px;
        background-color: $background-black-glass;

        padding-left: 20px;
        padding-right: 10px;

        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        ul.links {
            display: flex;
            align-items: center;
            flex-direction: column;
            .item{
                margin: 0;
                height: 35px;
                font-size: 22px;
                font-weight: 300;
                color: #fff;
                a {
                    cursor: pointer;
                    transition: 0.2s ease;
                }
            }

            .item.active a {
                transition-duration: 0.5s;
                color: $font-blue;
                font-weight: 400;
            }
            .item a:hover {
                color: $font-blue;
            }
        }

        .contacts-mobile {
            position: absolute;
            top: 5px;
            left: 5px;
            display: flex;
            opacity: 1;

            img{
                width: 30px;
                height: 30px;
                margin: 2px;
            }
        }
    }
}