section.portfolio-section {

    background-color: $background-black;
    padding: 15px 15px;

    h1 {
        color: #fff;
        font-size: 33px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: -.11em;
        margin-bottom: 20px;
    }
    h1::after {
        content: '';
        display: block;
        width: 100px; height: 4px;
        background-color: $font-blue;
    }

    .projects-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .card {
            display: flex;
            flex-direction: column;

            background-color: #fff;
            border: 2px solid #fff;
            border-radius: 5px;
            box-shadow: -8px -8px 0px 0px lighten($background-black, 5%);

            width: 90%;
            height: auto;

            margin-bottom: 25px;

            .card-img img {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                display: flex;
                width: 100%;

                margin-bottom: 8px;
            }

            .card-content {
                display: flex;
                flex-direction: column;
                
                h2 {
                    margin-bottom: 10px;
                    margin-left: 4px;
                    color: $background-black;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: -.08em;
                }
                h2::after {
                    content: '';
                    display: block;
                    width: 90px; height: 3px;
                    background-color: $background-red;
                }
                p {
                    margin-left: 5px;
                    margin-bottom: 20px;
                    text-align: left;
                }
                a {
                    color: $font-blue;
                    text-decoration: underline;
                    text-align: right;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}