header.header {
    position: fixed;
    width: 100%;
    
    z-index: 10;

    nav.socials-bar {
        position: relative;
        height: 45px;
        background-color: $background-black-glass;

        display: flex;
        align-items: center;
        padding-right: 15px;

        .contacts-container {
            color: #fff;
            label {
                margin-right: 5px;
                transition: 0.3s;
            }
            label:hover {
                text-decoration: underline;
            }
        }

        .links-container {
            img {
                width: 30px;
                height: 30px;
                margin: 5px;
            }

            img:hover {
                animation: hover-icon 0.3s;
            }
        }

    }
    nav.navigation-bar {
        position: relative;
        height: 50px;
        background-color: $background-black;

        padding-left: 90px;

        border-bottom: 2px solid #fff;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        ul.links {
            float: left;
            text-transform: uppercase;
            
            .item{
                float: left;
                margin-right: 15px;
                line-height: 50px;
                font-size: 22px;
                font-weight: 300;
                color: #fff;
                a {
                    cursor: pointer;
                    transition: 0.2s ease;
                }
            }

            .item.active a {
                transition-duration: 0.5s;
                color: $font-blue;
            }
            .item a:hover {
                color: $font-blue;
            }
        }

        .contacts-mobile {
            display: none;
            opacity: 0;
        }
    }
}